/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Google fonts */
body {
	font-family:  'Open Sans', sans-serif;
	border-bottom: 2px solid black;
}
nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display:  inline;

}
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top:  2rem;
	padding-bottom: 3rem;
	text-align: center;
}
.header{
	text-align: center;
}
#intro h2, #intro p{
	margin-bottom: 1rem;
}
#intro button{
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding:  1rem;
	border-color: white;
}
#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}
#succeed-info h2{
	margin-bottom: 1rem;
}
#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}
#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right:  0.5rem;

}
#pre-footer{
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #001B35;
}

#pre-footer .bottom{
	display: inline-block;
	vertical-align: top;
	min-height: 50px;
	width: 24.5%;
	color: white;

	
}
footer{
	padding: 0.7rem;
	text-align: center;
	margin-left: 0.5rem;
	margin-right: 0.5rem;



